<div class="jumbotron">
    <h1>Travel Partners</h1>
    <p class="lead">Travel Partners is a free web platform for building great connections with the people through out the world.</p>
    <p>@Html.ActionLink("Learn More", "Index", "Home", new { area = "" }, new { @class = "btn btn-primary btn-lg" })</p>
</div>
<div class="row">

</div>
